* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background: #92DFC8;
    padding: 20px;
    text-align: center;
}

.content {
    background: #CAEFF2;
    padding: 20px;
    text-align: center;
    height: 600px;
    width: 70%;
    float: left;
}

.aside {
    background: #F2D8CA;
    padding: 20px;
    text-align: center;
    height: 600px;
    width: 30%;
    float: right;
}

.section-one {
    margin-bottom: 10px;
}

.box {
    background: #F2F1CA;
    padding: 20px;
    text-align: center;
    height: 150px;
    width: calc(25% - 7.5px);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.box:nth-child(4) {
    margin-right: 0;
}

.footer {
    background: #EECBF3;
    padding: 20px;
    text-align: center;
}

.clear-both {
    clear: both;
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }

    .aside {
        width: 100%;
    }

    .box:nth-child(2) {
        margin-right: 0;
    }

    .box {
        width: calc(50% - 5px);
    }
}

@media screen and (max-width: 480px) {
    .box {
        width: 100%;
        margin-right: 0;
    }
}